<!DOCTYPE html>
<html >
<head>
    <!-- Site made with Mobirise Website Builder v4.7.1, javascript:; -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.7.1, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/logo2.png" type="image/x-icon">
    <meta name="description" content="Web Page Maker Description">
    <title>accueil</title>
    <link rel="stylesheet" href="{{ asset('assets/web/assets/mobirise-icons/mobirise-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/tether/tether.min.cs') }}s">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/dropdown/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/animatecss/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/socicon/css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/mobirise/css/mbr-additional.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/custom/css/custom.css') }}">

</head>
<body>
<section class="menu cid-qRad6v6PHs" once="menu" id="menu2-0">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="javascript:;">
                            <img src="{{ asset('assets/images/logo.png')}}" style="height: 3.8rem;">
                        </a>
                    </span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link text-black display-4 active" href=""> Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4 " href="{{ path('page_route', {'page':'chasseur'}) }}"> Chasseurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="{{ path('page_route', {'page':'pecheur'}) }}"> Pêcheurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="{{ path('page_route', {'page':'guerisseur'}) }}"> Guérisseurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="{{ path('page_route', {'page':'batisseur'}) }}"> Bâtisseurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="{{ path('page_route', {'page':'agriculteur'}) }}"> Agriculteurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="{{ path('page_route', {'page':'mineur'}) }}"> Mineurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="{{ path('page_route', {'page':'mineur'}) }}">
                        <span class="mbrib-search mbr-iconfont mbr-iconfont-btn"></span>
                    </a>
                </li>
            </ul>
            <div class="navbar-buttons mbr-section-btn">
                <a class="btn btn-sm btn-primary display-4 join-btn" data-toggle="modal" data-target="#register-modal"> REJOINDRE </a>
            </div>
            <div class="navbar-buttons mbr-section-btn">
                <a class="btn btn-sm btn-primary display-4" href="{{ path('page_route', {'page':'echange'}) }}"> ECHANGE </a>
            </div>
        </div>
    </nav>
</section>

<!-- <section class="engine"><a href="https://mobirise.ws/n">mobile website creator app</a></section> -->

<section class="menu cid-qRad7rIgD2" once="menu" id="menu2-1">
    <!-- NAVIGATION -->
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="javascript:;">
                            <img src="{{ asset('assets/images/logo-chasseur.png')}}" style="height: 3.8rem;">
                        </a>
                    </span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link text-black display-4 active" href="{{ path('homepage') }}"> Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4 " href="{{ path('page_route', {'page':'chasseur'}) }}"> Chasseurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="{{ path('page_route', {'page':'pecheur'}) }}"> Pêcheurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="{{ path('page_route', {'page':'guerisseur'}) }}"> Guérisseurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4"href="{{ path('page_route', {'page':'batisseur'}) }}"> Bâtisseurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="{{ path('page_route', {'page':'agriculteur'}) }}"> Agriculteurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="{{ path('page_route', {'page':'mineur'}) }}"> Mineurs</a>
                </li>
                <!-- <li class="nav-item dropdown open">
                    <a class="nav-link link text-black dropdown-toggle display-4" href="mineurs.html" data-toggle="dropdown-submenu" aria-expanded="true" data-toggle="modal" data-target="#login-modal">
                        <span class="mbrib-user mbr-iconfont mbr-iconfont-btn"></span> Rakoto
                    </a>
                    <div class="dropdown-menu">
                        <a class="text-black dropdown-item display-4" href="mineurs.html">Se déconnecter</a>
                    </div>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="javascript:;" aria-expanded="true" data-toggle="modal" data-target="#login-modal">
                        <span class="mbrib-user mbr-iconfont mbr-iconfont-btn"></span> Se connecter
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="href="{{ path('page_route', {'page':'mineur'}) }}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="{{ path('page_route', {'page':'mineur'}) }}">
                        <span class="mbrib-search mbr-iconfont mbr-iconfont-btn"></span>
                    </a>
                </li>
            </ul>
            <div class="navbar-buttons mbr-section-btn">
                <a class="btn btn-sm btn-primary display-4 join-btn" data-toggle="modal" data-target="#register-modal"> REJOINDRE </a>
            </div>
            <div class="navbar-buttons mbr-section-btn">
                <a class="btn btn-sm btn-primary display-4" href="{{ path('page_route', {'page':'echange'}) }}"> ECHANGE </a>
            </div>
        </div>
    </nav>
</section>
<section class="carousel slide cid-qRd60sy45r" data-interval="false" id="slider1-2u">
    <div class="full-screen"><div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="false" data-interval="false"><ol class="carousel-indicators"><li data-app-prevent-settings="" data-target="#slider1-2u" class=" active" data-slide-to="0"></li><li data-app-prevent-settings="" data-target="#slider1-2u" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#slider1-2u" data-slide-to="2"></li></ol><div class="carousel-inner" role="listbox"><div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false" style="background-image: url({{ asset('assets/images/1.jpg') }});"><div class="container container-slide"><div class="image_wrapper"><div class="mbr-overlay"></div><img src="assets/images/1.jpg"><div class="carousel-caption justify-content-center"><div class="col-10 align-center"><h2 class="mbr-fonts-style display-1">
                                       TEAM TROC-ZONE</h2><p class="lead mbr-text mbr-fonts-style display-5">Nous mettons à disposition de nos client un service d'échange de service et/ou de produit</p><div class="mbr-section-btn" buttons="0"><a class="btn  btn-secondary display-4" href="{{ path('zone_rouge') }}">EFFECTUER UN ECHANGE</a> <a class="btn  btn-white-outline display-4" href="javascript:;">Nous-rejoindre</a></div></div></div></div></div></div><div class="carousel-item slider-fullscreen-image" data-bg-video-slide="https://www.youtube.com/watch?v=fwkKc6M60-0"><div class="mbr-overlay"></div><div class="container container-slide"><div class="image_wrapper"><img src="{{ asset('assets/images/2.jpg')}}" style="opacity: 0;"><div class="carousel-caption justify-content-center"><div class="col-10 align-left"><h2 class="mbr-fonts-style display-1">Une zone calme et hight-tech</h2><p class="lead mbr-text mbr-fonts-style display-5">Venez visitez notre zone! la zone plus attractif de toute la planète</p></div></div></div></div></div><div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url({{ asset('assets/images/3.jpg') }});"><div class="container container-slide"><div class="image_wrapper"><div class="mbr-overlay"></div><img src="{{ asset('assets/images/3.jpg') }}"><div class="carousel-caption justify-content-center"><div class="col-10 align-right"><h2 class="mbr-fonts-style display-1">DIAPOSITIVE IMAGE</h2><p class="lead mbr-text mbr-fonts-style display-5"></p><div class="mbr-section-btn" buttons="0"><a class="btn btn-info display-4" href="javascript:;">Pour WINDOWS</a> <a class="btn  btn-white-outline display-4" href="javascript:;">Pour MAC</a></div></div></div></div></div></div></div><a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider1-2u"><span aria-hidden="true" class="mbri-left mbr-iconfont"></span><span class="sr-only">Previous</span></a><a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider1-2u"><span aria-hidden="true" class="mbri-right mbr-iconfont"></span><span class="sr-only">Next</span></a></div>
    </div>
</section>

<section class="mbr-section content4 cid-qRd62h2ggG" id="content4-2v">
    <div class="media-container-row">
        <div class="title col-12 col-md-8">
            <h1 class="align-center pb-3 mbr-fonts-style display-1"> A propos<div class="pb-3-border"></div> </h1>
            <h2 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-7">
                Façonnez votre futur projet web avec une conception précise et affinez les fonctions codées.Façonnez votre futur projet web avec une conception précise et affinez les fonctions codées.<br>
            </h2>
        </div>
    </div>
</section>

<section class="features3 cid-qRd6f4uTLu" id="features3-2x">
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{{ asset('assets/images/01.jpg') }}">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Chasseurs</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Mobirise is an easy website builder - just drop site elements to your page, add content and style it to look the way you like.
                        </p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="javascript:;" class="btn btn-primary display-4"> Explorer</a>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{{ asset('assets/images/02.jpg') }}" alt="Mobirise">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7"> Pêcheurs</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            All sites you make with Mobirise are mobile-friendly. You don't have to create a special mobile version of your site.
                        </p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="javascript:;" class="btn btn-primary display-4"> Explorer</a>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{{ asset('assets/images/03.jpg') }}" alt="Mobirise">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7"> Guérisseurs</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Mobirise offers many site blocks in several themes, and though these blocks are pre-made, they are flexible.
                        </p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="javascript:;" class="btn btn-primary display-4"> Explorer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ZIG Astuces -->
<section class="testimonials2 cid-qRaKHo0BHn mbr-parallax-background" id="testimonials2-r" style="background-image: url(assets/images/the-walking-dead-episode-805-gabriel-gilliam-negan-morgan-post-1600x600.jpg); color: white!important; padding-top: 15px;">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"> </div>
    <div class="media-container-row">
        <div class="title col-12 col-md-8">
            <h1 class="align-center pb-3 mbr-fonts-style display-1"> ZIG<div class="pb-3-border"></div> </h1>
            <h2 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-7">
                Soyez-informé des zones qui sont encore potentiellement dangeures<br>
            </h2>
            <div class="mbr-section-btn align-center py-4">
                <a class="btn btn-secondary display-4" href="{{ path('zone_rouge') }}">LES ZONES ROUGES</a>
            </div>
        </div>
    </div>
</section>

<!-- TEAM -->
<section class="features16 cid-qRd9DHQNok" id="features16-32">
    <div class="media-container-row">
        <div class="title col-12 col-md-8">
            <h1 class="align-center pb-3 mbr-fonts-style display-1"> La Team TROC-ZONE<div class="pb-3-border"></div> </h1>
            <h2 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-7">
                Façonnez votre futur projet web avec une conception précise et affinez les fonctions codées.Façonnez votre futur projet web avec une conception précise et affinez les fonctions codées.<br>
            </h2>
        </div>
    </div>
    <div class="container align-center">
        <div class="row media-row">
            <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="{{ asset('assets/imgs/team/razafimandimby-niaina-michael-geek-inside-madagascar-510x510.jpg') }}" alt="" title="">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5"> Balzac</p>
                    </div>
                    <div class="item-role px-2">
                        <p>Manager</p>
                    </div>
                </div>
            </div>
            <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="{{ asset('assets/imgs/team/randriamitsiry-lovasoa-gabriel-geek-inside-madagascar-510x510.jpg') }}" alt="" title="">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5"> Jess</p>
                    </div>
                    <div class="item-role px-2">
                        <p>Commércial</p>
                    </div>
                </div>
            </div>
            <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="{{ asset('assets/imgs/team/randrianarijaona-rija-nifaliana-geek-inside-madagascar-510x510.jpg') }}" alt="" title="">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5"> Jarix</p>
                    </div>
                    <div class="item-role px-2">
                        <p>Webmaster</p>
                    </div>
                </div>
            </div>
            <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="{{ asset('assets/imgs/team/razafimandimby-niaina-abel-geek-inside-madagascar-510x510.jpg') }}" alt="" title="">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5"> Leériy</p>
                    </div>
                    <div class="item-role px-2">
                        <p>Comptable</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CTA -->
<section class="mbr-section content8 cid-qRda5WXRHp" id="content8-33">
    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-primary display-4" href="javascript:;">EFFECTUER UN ECHANGE</a>
                    <a class="btn btn-black-outline display-4" href="javascript:;" data-toggle="modal" data-target="#register-modal">REJOINDRE UN NEO-ZONES</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<section class="footer3 cid-qRaGMZfHcJ mbr-reveal" id="footer3-o">
    <div class="container">
        <div class="media-container-row content">
            <div class="col-md-2 col-sm-4 text-center">
                <div class="mb-3 img-logo">
                    <a href="javascript:;">
                        <img src="{{ asset('assets/images/logo-white.png')}}">
                    </a>
                </div>
                <p class="mbr-fonts-style foot-logo display-7"> TROCZONE</p>
            </div>
            <div class="col-md-3 col-sm-4">
                <p class="mb-4 mbr-fonts-style foot-title display-7">
                    TROCZONE
                </p>
                <p class="mbr-text mbr-links-column mbr-fonts-style display-7">
                    <a href="#" class="active">Accueil</a><br>
                    <a href="#" class="">A propos</a><br>
                    <a href="#" class="">Team Troczone</a>
                </p>
            </div>
            <div class="col-md-3 col-sm-4">
                <p class="mb-4 mbr-fonts-style foot-title display-7">
                    NEO-ZONES
                </p>
                <p class="mbr-text mbr-fonts-style mbr-links-column display-7">
                    <a href="#" class="">Chasseurs</a><br>
                    <a href="#" class="">Pêcheurs</a><br>
                    <a href="#" class="">Guérisseurs</a><br>
                    <a href="#" class="">Bâtisseurs</a><br>
                    <a href="#" class="">Agriculteurs</a><br>
                    <a href="#" class="">Mineurs</a>
                </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <p class="mb-4 mbr-fonts-style foot-title display-7">LIENS UTILES</p>
                <p class="mbr-text mbr-fonts-style mbr-links-column display-7">
                    <a href="{{path('zone_rouge')}}" class="">Zone d'infections generalisés</a><br>
                    <a href="#" class="">Echange</a><br>
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7"> © Copyright 2018 WebCup Madagascar - Geek Inside</p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href=#" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- NEO-ZONE MODALS -->
<!-- LOGIN -->
<div class="modal fade own-modal" tabindex="-1" role="dialog" aria-hidden="true" id="login-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="{{ asset('assets/custom/css/svg/user.svg') }}" width="60%" alt="User icon"/><br>
                        <h4 class="text-black">Connexion</h4>
                    </div>
                </div>
                <form class="login_form" style="margin-top: 20px;">
                    <div class="login_notification text-center"></div>
                    <div class="form-group">
                        <input type="text" class="form-control auth_login" id="auth_login" placeholder="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control auth_mdp password-field" id="auth_mdp" placeholder="xxxxxxxxxxxx">
                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-info text-center">SE CONNECTER</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- REJOINDRE -->
<div class="modal fade own-modal" tabindex="-1" role="dialog" aria-hidden="true" id="register-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="{{ asset('assets/custom/css/svg/user.svg') }}" width="60%" alt="User icon"/><br>
                        <h4 class="text-black">Formulaire d'adhesion</h4>
                    </div>
                </div>
                <form class="register_form" style="margin-top: 20px;">
                    <div class="register_notification text-center"></div>
                    <div class="form-group">
                        <input type="text" class="form-control nom_register" id="nom_register" placeholder="Votre nom">
                    </div>
                    <div class="form-group">
                        <select class="form-control old-zone">
                            <option value="">Votre ancien NEO-ZONE</option>
                            <option value="1">Chasseur</option>
                            <option value="2">Pêcheur</option>
                            <option value="3">Guérisseur</option>
                            <option value="4">Agriculteur</option>
                            <option value="5">Mineur</option>
                        </select>
                    </div>
                    <div class="form-group text-center">
                        <textarea type="text" class="form-control" name="raison_register" rows="3" id="raison_register" placeholder="Décriver en quelques mots votre motivation à rejoindre ce NEO-ZONE"></textarea>
                    </div>
                    <div class="form-group text-center">
                        <div class="checkbox">
                            <label><input type="checkbox" value=""> J'accepte les termes et conditions du site</label>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-info text-center">JOINDRE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- SCRIPTS -->
<script src="{{ asset('assets/web/assets/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assets/popper/popper.min.js') }}"></script>
<script src="{{ asset('assets/tether/tether.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/dropdown/js/script.min.js') }}"></script>
<script src="{{ asset('assets/touchswipe/jquery.touch-swipe.min.js') }}"></script>
<script src="{{ asset('assets/viewportchecker/jquery.viewportchecker.js') }}"></script>
<script src="{{ asset('assets/as-pie-progress/jquery-as-pie-progress.min.js') }}"></script>
<script src="{{ asset('assets/masonry/masonry.pkgd.min.js') }}"></script>
<script src="{{ asset('assets/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ asset('assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js') }}"></script>
<script src="{{ asset('assets/smoothscroll/smooth-scroll.js') }}"></script>
<script src="{{ asset('assets/vimeoplayer/jquery.mb.vimeo_player.js') }}"></script>
<script src="{{ asset('assets/parallax/jarallax.min.js') }}"></script>
<script src="{{ asset('assets/custom/js/script.js') }}"></script>
<script src="{{ asset('assets/slidervideo/script.js') }}"></script>
<script src="{{ asset('assets/formoid/formoid.min.js') }}"></script>
<script src="{{ asset('assets/gallery/player.min.js') }}"></script>
<script src="{{ asset('assets/gallery/script.js') }}"></script>
<script src="{{ asset('assets/libs/wow/wow.min.js') }}"></script>
<script src="{{ asset('_u5Fd/man/man.func.min.js') }}"></script>
<script type="text/javascript">
    $(function() {
        new WOW().init();

        'use strict';

        var response      = new Array();

        /* AUTH */
        var $loginForm                  = $('.login_form'),
                auth_notificationClass      = 'login_notification';

        $loginForm.submit(function(e) {
            e.preventDefault();

            var login    = $('.auth_login').val(),
                    mdp    = $('.auth_mdp').val();

            if (validateLoginAuth(login, mdp) == true) {
                var data = {
                    'action'    : 'login',
                    'login'     : login,
                    'mdp'       : mdp
                }
                $.post('_u5fd/auth/auth.login.php', data, function(Dataresponses) {
                    console.log(Dataresponses);
                    if (Dataresponses.error != undefined) {
                        notificationShow_class(Dataresponses, auth_notificationClass, true, null);
                    } else if (Dataresponses.success != undefined) {
                        notificationShow_class(Dataresponses, auth_notificationClass, true, 'profile');
                    } else {
                        response.error = "Une erreur est survenue pendant la connexion.<br> Veuillez réessayer plus tard s'il vous plait";
                        notificationShow_class(response, auth_notificationClass, true, null);
                    }
                });
            } else {
                response.error = form_error['empty_fields'];
                notificationShow_class(response, auth_notificationClass, true, null);
            }
        });

        /* AVIS */
        var $loginAvis              = $('.form_avis'),
                avis_notificationClass  = 'avis_notification';

        $loginAvis.submit(function(e) {
            e.preventDefault();

            var nom             = $('.nom_avis').val(),
                    neo_zone        = $('.neo_zone_avis').val(),
                    message         = $('.message_avis').val();

            if (nom != "" || neo_zone != "" || message != "") {
                var data = {
                    'action'    : 'avis',
                    'nom'       : nom,
                    'neo_zone'  : neo_zone,
                    'message'   : message
                }
                $.post('_u5fd/auth/auth.login.php', data, function(Dataresponses) {
                    console.log(Dataresponses);
                    if (Dataresponses.error != undefined) {
                        notificationShow_class(Dataresponses, avis_notificationClass, true, null);
                    } else if (Dataresponses.success != undefined) {
                        notificationShow_class(Dataresponses, avis_notificationClass, true, 'profile');
                    } else {
                        response.error = "Une erreur est survenue pendant la connexion.<br> Veuillez réessayer plus tard s'il vous plait";
                        notificationShow_class(response, avis_notificationClass, true, null);
                    }
                });
            } else {
                response.error = form_error['empty_fields'];
                notificationShow_class(response, avis_notificationClass, true, null);
            }
        });

        /* REGISTER */
        var $register_form           = $('.register_form'),
                register_notification   = 'register_notification',
        nom_register            = $('.nom_register'),
                old_zone                = $('.old-zone'),
                raison_register         = $('.raison_register'),
                checkbox                = $('.checkbox');

        $register_form.submit(function(e) {
            e.preventDefault();

            var nom             = $('.nom').val(),
                    neo_zone        = $('.old_zone').val(),
                    raison          = $('.raison_register').val(),
                    condition       = $('.checkbox').val();

            if (nom != "" || neo_zone != "" || raison != "") {
                var data = {
                    'action'    : 'avis',
                    'nom'       : nom,
                    'neo_zone'  : neo_zone,
                    'raison'    : raison
                }
                $.post('_u5fd/auth/auth.login.php', data, function(Dataresponses) {
                    console.log(Dataresponses);
                    if (Dataresponses.error != undefined) {
                        notificationShow_class(Dataresponses, avis_notificationClass, true, null);
                    } else if (Dataresponses.success != undefined) {
                        notificationShow_class(Dataresponses, avis_notificationClass, true, 'profile');
                    } else {
                        response.error = "Une erreur est survenue pendant la connexion.<br> Veuillez réessayer plus tard s'il vous plait";
                        notificationShow_class(response, avis_notificationClass, true, null);
                    }
                });
            } else {
                response.error = form_error['empty_fields'];
                notificationShow_class(response, avis_notificationClass, true, null);
            }
        });
    });

</script>

<div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i></i></a></div>
<!-- <input name="animation" type="hidden"> -->
</body>
</html>