<!DOCTYPE html>
<html >
<head>
    <!-- Site made with Mobirise Website Builder v4.7.1, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.7.1, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/logo2.png" type="image/x-icon">
    <meta name="description" content="Web Builder Description">
    <title>search</title>
    <link rel="stylesheet" href="{{ asset('assets/web/assets/mobirise-icons/mobirise-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/tether/tether.min.cs') }}s">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/dropdown/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/animatecss/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/socicon/css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/mobirise/css/mbr-additional.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/custom/css/custom.css') }}">

</head>
<body>
<section class="menu cid-qRbaOPyjGd" once="menu" id="menu2-3f">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="javascript:;">
                            <img src="{{ asset('assets/images/logo-chasseur.png') }}" alt="Mobirise" style="height: 3.8rem;">
                        </a>
                    </span>
            </div>
        </div> <div class="collapse navbar-collapse" id="navbarSupportedContent"> <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"> <li class="nav-item">
                    <a class="nav-link link text-black display-4" href=""> Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="chasseurs.php"> Chasseurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="pecheurs.html"> Pêcheurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="guerisseurs.html"> Guérisseurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="batisseurs.html"> Bâtisseurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="agriculteurs.html"> Agriculteurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="mineurs.html"> Mineurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="{{ path("search", {'query':'exemple'}) }}">
                        <span class="mbrib-search mbr-iconfont mbr-iconfont-btn"></span>
                    </a>
                </li>
            </ul>
            <div class="navbar-buttons mbr-section-btn">
                <a class="btn btn-sm btn-primary display-4 join-btn-plus" data-toggle="modal" data-target="#register-modal"> REJOINDRE </a>
            </div>
            <div class="navbar-buttons mbr-section-btn">
                <a class="btn btn-sm btn-primary join-echange display-4" data-toggle="modal" data-target="#login-modal"> ECHANGE </a>
            </div>
        </div>
    </nav>
</section>

<section class="engine"><a href="https://mobirise.ws/e">best web builder software</a></section><section class="menu cid-qRbaOSJG5Z" once="menu" id="menu2-3g">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="javascript:;">
                            <img src="{{ asset('assets/images/logo-chasseur.png') }}" alt="Mobirise" style="height: 3.8rem;">
                        </a>
                    </span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="https://mobirise.com"> Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4 active" href="chasseurs.html"> Chasseurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="pecheurs.html"> Pêcheurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="guerisseurs.html"> Guérisseurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="batisseurs.html"> Bâtisseurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="agriculteurs.html"> Agriculteurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="mineurs.html"> Mineurs</a>
                </li>
                <!-- <li class="nav-item dropdown open">
                    <a class="nav-link link text-black dropdown-toggle display-4" href="mineurs.html" data-toggle="dropdown-submenu" aria-expanded="true" data-toggle="modal" data-target="#login-modal">
                        <span class="mbrib-user mbr-iconfont mbr-iconfont-btn"></span> Rakoto
                    </a>
                    <div class="dropdown-menu">
                        <a class="text-black dropdown-item display-4" href="mineurs.html">Se déconnecter</a>
                    </div>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="javascript:;" aria-expanded="true" data-toggle="modal" data-target="#login-modal">
                        <span class="mbrib-user mbr-iconfont mbr-iconfont-btn"></span> Se connecter
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="mineurs.html"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="mineurs.html">
                        <span class="mbrib-search mbr-iconfont mbr-iconfont-btn"></span>
                    </a>
                </li>
            </ul>
            <div class="navbar-buttons mbr-section-btn">
                <a class="btn btn-sm btn-primary display-4 join-btn-plus" data-toggle="modal" data-target="#register-modal"> REJOINDRE </a>
            </div>
            <div class="navbar-buttons mbr-section-btn">
                <a class="btn btn-sm btn-primary join-echange display-4"> ECHANGE </a>
            </div>
        </div>
    </nav>
</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- SEARCH -->
<section class="mbr-section form3 cid-qRdRMmDBAP" id="form3-3j">
    <div class="media-container-row">
        <div class="title col-12 col-md-8">
            <h1 class="align-center pb-3 mbr-fonts-style display-1"> RECHERCHE<div class="pb-3-border"></div> </h1>
            <h2 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-7">
                Rechercher ce que vous voulez (Compétence, Production, blog ...)<br>
            </h2>
        </div>
    </div>
    <div class="container">
        <div class="row py-2 justify-content-center">
            <div class="col-12 col-lg-6  col-md-8 " data-form-type="formoid">
                <div data-form-alert="" hidden="">Thanks for filling out the form!</div>
                <form class="mbr-form" action="">
                    <div class="mbr-subscribe input-group">
                        <input class="form-control" type="email" name="email" placeholder="Recherche" data-form-field="Email" required="" id="email-form3-3j">
                        <span class="input-group-btn">
                            <button href="" type="submit" class="btn btn-primary display-4">RECHERCHE</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- SEARCH RESULT -->
<section class="mbr-section content6 cid-qRdRyZMOD1" id="content6-3i">
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 60%;">
                        <img src="{{ asset('assets/images/01.jpg') }}" alt="Mobirise">
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style display-7">
                                <strong>Créez votre propre site web en quelques clics !</strong> Mobirise vous aide à réduire le temps de développement en vous fournissant un éditeur de site Web flexible avec une interface glisser-déposer. Mobirise Website Builder crée un responsive, retina et <em>Sites compatible mobile</em> en quelques clics. Mobirise est l'un des outils de développement de sites Web les plus faciles à utiliser aujourd'hui.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- FOOTER -->
<section class="footer3 cid-qRdT0UUZHV" id="footer3-3k">
    <div class="container">
        <div class="media-container-row content">
            <div class="col-md-2 col-sm-4 text-center">
                <div class="mb-3 img-logo">
                    <a href="javascript:;">
                        <img src="{{ asset('assets/images/logo-black.png') }}" alt="Mobirise">
                    </a>
                </div>
                <p class="mbr-fonts-style foot-logo display-7"> TROCZONE</p>
            </div>
            <div class="col-md-3 col-sm-4">
                <p class="mb-4 mbr-fonts-style foot-title display-7">
                    TROCZONE
                </p>
                <p class="mbr-text mbr-links-column mbr-fonts-style display-7">
                    <a href="#" class="">Accueil</a><br>
                    <a href="#" class="">A propos</a><br>
                    <a href="#" class="">Team Troczone</a>
                </p>
            </div>
            <div class="col-md-3 col-sm-4">
                <p class="mb-4 mbr-fonts-style foot-title display-7">
                    NEO-ZONES
                </p>
                <p class="mbr-text mbr-fonts-style mbr-links-column display-7">
                    <a href="#" class="text-black active">Chasseurs</a><br>
                    <a href="#" class="">Pêcheurs</a><br>
                    <a href="#" class="">Guérisseurs</a><br>
                    <a href="#" class="">Bâtisseurs</a><br>
                    <a href="#" class="">Agriculteurs</a><br>
                    <a href="#" class="">Mineurs</a>
                </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <p class="mb-4 mbr-fonts-style foot-title display-7">NOUS AIDER</p>
                <p class="mbr-text form-text mbr-fonts-style display-7">
                    Get monthly updates and free resources.
                </p>
                <div class="media-container-column" data-form-type="formoid">
                    <div data-form-alert="" hidden="" class="align-center">
                        Thanks for filling out the form!
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7"> © Copyright 2018 WebCup Madagascar - Geek Inside</p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://instagram.com/mobirise" target="_blank">
                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.behance.net/Mobirise" target="_blank">
                                <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- NEO-ZONE MODALS -->
<!-- LOGIN -->
<div class="modal fade own-modal" tabindex="-1" role="dialog" aria-hidden="true" id="login-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="{{ asset('assets/custom/css/svg/user.svg') }}" width="60%" alt="User icon"/><br>
                        <h4 class="text-black">Connexion</h4>
                    </div>
                </div>
                <form class="login_form" style="margin-top: 20px;">
                    <div class="login_notification text-center"></div>
                    <div class="form-group">
                        <input type="text" class="form-control auth_login" id="auth_login" placeholder="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control auth_mdp password-field" id="auth_mdp" placeholder="xxxxxxxxxxxx">
                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-info text-center">SE CONNECTER</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- REJOINDRE -->
<div class="modal fade own-modal" tabindex="-1" role="dialog" aria-hidden="true" id="register-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="{{ asset('assets/custom/css/svg/user.svg') }}" width="60%" alt="User icon"/><br>
                        <h4 class="text-black">Formulaire d'adhesion</h4>
                    </div>
                </div>
                <form class="register_form" style="margin-top: 20px;">
                    <div class="register_notification text-center"></div>
                    <div class="form-group">
                        <input type="text" class="form-control nom_register" id="nom_register" placeholder="Votre nom">
                    </div>
                    <div class="form-group">
                        <select class="form-control old-zone">
                            <option value="">Votre ancien NEO-ZONE</option>
                            <option value="1">Chasseur</option>
                            <option value="2">Pêcheur</option>
                            <option value="3">Guérisseur</option>
                            <option value="4">Agriculteur</option>
                            <option value="5">Mineur</option>
                        </select>
                    </div>
                    <div class="form-group text-center">
                        <textarea type="text" class="form-control" name="raison_register" rows="3" id="raison_register" placeholder="Décriver en quelques mots votre motivation à rejoindre ce NEO-ZONE"></textarea>
                    </div>
                    <div class="form-group text-center">
                        <div class="checkbox">
                            <label><input type="checkbox" value=""> J'accepte les termes et conditions du site</label>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-info text-center">JOINDRE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="{{ asset('assets/web/assets/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assets/popper/popper.min.js') }}"></script>
<script src="{{ asset('assets/tether/tether.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/dropdown/js/script.min.js') }}"></script>
<script src="{{ asset('assets/touchswipe/jquery.touch-swipe.min.js') }}"></script>
<script src="{{ asset('assets/viewportchecker/jquery.viewportchecker.js') }}"></script>
<script src="{{ asset('assets/as-pie-progress/jquery-as-pie-progress.min.js') }}"></script>
<script src="{{ asset('assets/masonry/masonry.pkgd.min.js') }}"></script>
<script src="{{ asset('assets/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ asset('assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js') }}"></script>
<script src="{{ asset('assets/smoothscroll/smooth-scroll.js') }}"></script>
<script src="{{ asset('assets/vimeoplayer/jquery.mb.vimeo_player.js') }}"></script>
<script src="{{ asset('assets/parallax/jarallax.min.js') }}"></script>
<script src="{{ asset('assets/custom/js/script.js') }}"></script>
<script src="{{ asset('assets/slidervideo/script.js') }}"></script>
<script src="{{ asset('assets/formoid/formoid.min.js') }}"></script>
<script src="{{ asset('assets/gallery/player.min.js') }}"></script>
<script src="{{ asset('assets/gallery/script.js') }}"></script>
<script src="{{ asset('assets/libs/wow/wow.min.js') }}"></script>
<script src="{{ asset('_u5Fd/man/man.func.min.js') }}"></script>


<div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i></i></a></div>
<!-- <input name="animation" type="hidden"> -->
</body>
</html>